<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">

  <head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>SB Admin - Dashboard</title>
    <!-- Bootstrap core CSS-->
    <link th:href="@/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" />

    <!-- Custom fonts for this template-->
    <link th:href="@/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css"/>

    <!-- Page level plugin CSS-->
    <link th:href="@/vendor/datatables/dataTables.bootstrap4.css" rel="stylesheet"/>

    <!-- Custom styles for this template-->
    <link th:href="@/css/sb-admin.css" rel="stylesheet"/>

  </head>
  <body>
    
    
		
			<div class="container-fluid bg-primary ">
			
				<div class="page-header text-center ">
				
					<h1>Patient Medical Management </h1>
					<h4>Spring Boot Application</h4>
				</div>
				
			</div>
					
				<h1>List of Patients</h1>
		
	
	
	<div class="container">
		<div class="row mg-2">
			<div class="col-2"></div>
			<div class="col-8">
			
				<div class="form-inline navbar">
				
				
						<!-- Add new button: Add Patient -->
					
						<input type="button" 
								class="btn btn-primary"   
								value = "Add Patient"
								onclick="window.location.href='addPatientForm'; return false;"/> 
					
					
					<!--  add a search box -->
					
			            <form:form action="search" method="POST" class="pull-right">
			            	<div class="form-group ">
			                 <input type="text" name="theSearchName" class="form-control" placeholder="search patient"/>
			                 </div>
			               <span> <button type="submit" class=" btn btn-primary">Search</button> 
			               </span>
			            </form:form>
		            
				</div>
				
				
			
					
			<table class="table table-dark table-bordered table-striped">
			<thead class="thead-dark">
				<tr>
					<th scope="col">#</th>
					<th scope="col">First Name</th>
					<th scope="col">Middle Name</th>
					<th scope="col">Last Name</th>
					<th scope="col">Action</th>
					
				</tr>
			</thead>
				<!-- Loop Over and print out list patient -->
				
				<tbody>
				
					
					
					<tr class="text-center" th:each="patient: ${allPatients}">
						<td th:text=${}/>
						<td th:text=${patient.firstName}/>
						<td th:text=${patient.middleName}/>
						<td th:text=${patient.lastName}/>
						<td>
							<!-- display view, update and delete link -->
							<a href="${viewPatientLink }">View Patient Info</a>
							|
							<a href="${updatePatientLink }">Update</a>
							|
							<a href="${deletePatientLink }"
								onclick="if (!(confirm('Are you sure to delete this patient?'))) return false">Delete</a>
						</td>
						
					</tr>
				</tbody>
				</c:forEach>
				
			</table>
		</div>
		
			<div class="col-2"></div>
		</div>
			
		</div>
	

   
    <!-- Bootstrap core JavaScript-->
    <script src="/vendor/jquery/jquery.min.js"></script>
    <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="/vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Page level plugin JavaScript-->
    <script src="/vendor/chart.js/Chart.min.js"></script>
    <script src="/vendor/datatables/jquery.dataTables.js"></script>
    <script src="/vendor/datatables/dataTables.bootstrap4.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="/js/sb-admin.min.js"></script>

    <!-- Demo scripts for this page-->
    <script src="/js/demo/datatables-demo.js"></script>
    <script src="/js/demo/chart-area-demo.js"></script>
  </body>
</html>